//Fonts
$fontHead:      'Merriweather', serif;
$fontStack:     Verdana, sans-serif;
$extraLight:    200;
$light:         300;
$normal:        400;
$semiBold:      600;
$bold:          700;
$ultraBold:     900;

//Colors
$white:         #FFF;
$mainText:      #131313;
$peach:         #ffd68b;
$blue:          #280f5d;
$blueLight:     #3e31ad;
$red:           #ba2e2d;
$gray:          #534f58;

//Gradient BG
$blueBG:         #21216d, #290a59;
$redBG:          #c83c3c, #a71a1a;
$orangeBG:       #ff9b00, #ff6e05;
$orangeBG-hover: #ff9632, #ffa037;
$orangeBGDark:   #ff9b00, #ff6e05;
